html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #ccc;
  text-decoration: none;
}
body {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  background-color: #fff;
  color: rgba(0,0,0,0.8);
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-centered {
  text-align: center;
}
.honey {
  display: none;
}
#view-content {
  min-height: 100%;
  height: auto;
  padding: 0;
}
#view-content .inner {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 1120px;
}
.container {
  position: relative;
  float: none;
  clear: both;
  overflow: visible;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}
.container.narrow {
  max-width: 420px;
}
.column {
  position: relative;
  float: right;
  width: 65%;
  margin-bottom: 90px;
}
.sidebar {
  float: left;
  width: 30%;
}
.sidebar a.avatar img {
  width: 100%;
  border-radius: 5px;
}
.profile-options-list,
.profile-chats-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.profile-options-list li,
.profile-chats-list li {
  margin: 3px 0;
}
.profile-options-list li a,
.profile-chats-list li a {
  color: rgba(0,0,0,0.8);
}
.profile-options-list li a:hover,
.profile-chats-list li a:hover {
  text-decoration: underline;
}
.badge {
  margin: 0;
  padding: 0 5px;
  font-size: 17px;
  color: #fff;
  font-weight: 400;
  border-radius: 3px;
  background-color: #639;
}
.badge.owner {
  background-color: #d1810f;
}
.badge.moderator {
  background-color: #b3b3b3;
}
.badge.developer {
  background-color: #882929;
}
.badge.small {
  font-size: 13px;
}
ul.errors,
p.error {
  background: #fff;
  color: #cb3837;
  margin: 20px 0;
  padding: 0;
}
ul.errors {
  list-style: none;
}
ul.errors li,
p.error {
  line-height: 1.4;
  padding: 6px 0 6px 18px;
  position: relative;
}
ul.errors li:before,
p.error:before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "\2716";
}
h1 {
  margin: 0;
  padding: 20px 0 0 0;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -1.5px;
  color: rgba(0,0,0,0.9);
}
label {
  display: block;
  margin: 0 0 3px;
  padding-left: 5px;
  color: rgba(0,0,0,0.8);
  font-weight: 600;
}
hgroup {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
}
hgroup h1,
hgroup h2 {
  text-align: center;
}
hgroup h1 {
  margin: 0.2em 0;
  padding: 0;
}
hgroup h2 {
  font-weight: 300;
  line-height: 1.2;
}

#footer {
  margin: 40px;
}

#footer .author {
  margin-top: 20px;
  display: inline-block;
  color: rgba(0,0,0,0.4);
  text-decoration: none;
  position: relative;
}

.author:before,
.author:after {
  content: "\2665";
  color: rgba(203,56,55,0);
  font-size: 14px;
  transition: all 0.3s;
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 1px;
}
.author:before {
  left: -10px;
}
.author:after {
  right: -10px;
}
.author:hover {
  color: #cb3837;
}
.author:hover:before,
.author:hover:after {
  color: #cb3837;
}
.author:hover:before {
  left: -15px;
}
.author:hover:after {
  right: -15px;
}
header {
  width: 100%;
  top: 0;
  display: block;
}
header .header-nav .inner,
header .secondary-nav .inner,
header .header-notice .inner {
  max-width: 1120px;
  margin: 0 auto;
}
header .header-nav {
  background-color: #212121;
  height: 55px;
  border-bottom: 1px solid #292929;
}
header .header-nav .logo {
  float: left;
}
header .header-nav .logo > .logo-link {
  background: url("http://xat.com/images/xatblk.gif") no-repeat 5px;
  background-size: 118px 42px;
  display: block;
  height: 55px;
  width: 138px;
  float: left;
}
header .header-nav .logo.in-room > .logo-link:after {
  content: '/ ';
  position: relative;
  float: right;
  top: 22px;
  font-size: 30px;
  font-weight: 700;
}
header .header-nav .logo > .chat-link {
  float: right;
  font-size: 30px;
  position: relative;
  display: block;
  height: 55px;
  top: 23px;
  left: 5px;
  width: 138px;
  text-transform: lowercase;
}
header .header-nav ul.nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
header .header-nav ul.nav > li {
  position: relative;
  float: left;
  display: inline-flex;
}
header .header-nav ul.nav > li .nav-item-link {
  display: block;
  padding: 20px 0;
  width: 104px;
  height: 55px;
  border-right: 1px solid #111;
  border-left: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
}
header .header-nav ul.nav > li .nav-item-user-link {
  display: block;
  padding: 20px 13px;
  height: 55px;
  box-sizing: border-box;
  text-align: right;
}
header .header-nav ul.nav > li .nav-item-user-avatar {
  display: block;
  background-image: url("https://s.gravatar.com/avatar/88682ea245ecc26559ae9f1f565b0c37?size=100&default=retro");
  background-size: cover;
  position: relative;
  height: 55px;
  width: 55px;
}
header .header-nav ul.nav > li .nav-item-link:hover,
header .header-nav ul.nav > li:hover .nav-item-user-link {
  color: #fff;
}
header .header-nav ul.nav > li button {
  background-color: transparent;
  border: 0;
  color: #ccc;
}
header .header-nav ul.nav > li button:focus {
  outline: none;
}
header .header-nav ul.nav > li.active .nav-item-link {
  color: #fff !important;
  background-color: #191919;
  border-bottom: 2px solid #fbc02d;
}
header .secondary-nav {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  background-color: #fff;
  height: 40px;
}
header .secondary-nav ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
header .secondary-nav ul.nav > li {
  position: relative;
  float: left;
}
header .secondary-nav ul.nav > li > a {
  display: block;
  padding: 12px 0;
  width: 104px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  color: rgba(0,0,0,0.8);
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}
header .secondary-nav ul.nav > li.home.active > a,
header .secondary-nav ul.nav > li.home:hover > a {
  border-color: #212121;
}
header .secondary-nav ul.nav > li.groups.active > a,
header .secondary-nav ul.nav > li.groups:hover > a {
  border-color: #009688;
}
header .secondary-nav ul.nav > li.store.active > a,
header .secondary-nav ul.nav > li.store:hover > a {
  border-color: #c62828;
}
header .header-notice {
  display: none;
  background-color: #fdd835;
  padding: 12px;
}
header .header-notice .btn-okay {
  position: relative;
  cursor: pointer;
  background-color: #fbc02d;
  text-decoration: none;
  border-radius: 2px;
  padding: 4px 12px;
  float: right;
  top: -4px;
}
header .header-notice .btn-okay:hover {
  background-color: #f9a825;
}
header .header-notice a {
  color: #000;
  text-decoration: underline;
}
header .header-notice.show {
  display: block;
}
input[type=text],
input[type=password],
input[type=email] {
  -webkit-appearance: none;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 0 0 20px;
  border-radius: 4px;
  color: rgba(0,0,0,0.8);
  outline: 0;
  padding: 5px;
  vertical-align: middle;
}
.button {
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  border: 0;
  border-radius: 4px;
  text-align: center;
  display: block;
  padding: 0 35px;
  margin: 0 0 4px;
  height: 47px;
  line-height: 47px;
  color: #fff;
  font-size: 18px;
  background: #212121;
  cursor: pointer;
  text-decoration: none !important;
  -webkit-appearance: none;
  clear: both;
  outline: none;
}
.button.full-width {
  width: 100%;
}
.button[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
.button.default {
  background-color: #212121;
  border-color: #111;
  color: #fff;
}
.button.default:hover {
  background-color: #424242;
}
.button.twitter {
  background-color: #6cadde;
  border-color: #6cadde;
  color: #fff;
}
.button.twitter:hover {
  background-color: #6cadde;
}